$border-darkgray: #30323d;
$background-white: #eee;
$background-gray: #e0e0e0;
$black: #333;
$red: #d8292a;
$yellow: #eca733;
$green: #007048;
$light-blue: #34b4eb;
$blue: #044ffb;
$dark-blue: #0e1552;
$violet: #6f34ff;
$indigo: #4b0082;
$pink: #e234eb;
$hsl: hsl(0, 0%, 97%);
$hsla: hsla(0, 0%, 97%, 0);

* {
  box-sizing: border-box;
}

body,
html,
main,
#root {
  height: 100%;
}

body {
  outline: none;
  margin: 0;
  border: 0;
  font-family: Rubik, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.timeline-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  place-content: center;
  margin: 0px auto;
}

.timeline-events-container {
  position: relative;
  height: 100%;
  overflow: auto;
}

.timeline-events-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 0px;
}

.timeline-event {
  display: inline-block;
  position: relative;
  min-width: 100px;
  margin: 3px;
  height: 30px;
}

.timeline-event:nth-child(1n) {
  background: $light-blue;
  color: $light-blue;
}
.timeline-event:nth-child(2n) {
  background: $violet;
  color: $violet;
}
.timeline-event:nth-child(3n) {
  background: $blue;
  color: $blue;
}
.timeline-event:nth-child(4n) {
  background: $indigo;
  color: $indigo;
}
.timeline-event:nth-child(5n) {
  background: $dark-blue;
  color: $dark-blue;
}
.timeline-event:nth-child(6n) {
  background: $pink;
  color: $pink;
}

.timeline-event:last-of-type:after,
.timeline-event:first-of-type:before {
  content: '';
  position: absolute;
  z-index: 1;
  height: 30px;
  width: 50px;
}

.timeline-event:first-of-type:before {
  left: 0px;
  background: linear-gradient(to right, $hsl, $hsla);
}

.timeline-event:last-of-type::after {
  right: 0px;
  top: 0px;
  background: linear-gradient(to left, $hsl, $hsla);
}

.timeline-event:nth-child(1n) .timeline-event-content {
  margin-top: -75px;
  > img {
    margin-top: -60px;
  }
  > span {
    margin-top: 105px;
    margin-left: 27px;
  }
}
.timeline-event:nth-child(2n) .timeline-event-content {
  margin-top: 20px;
  > img {
    margin-top: 80px;
  }
  > span {
    margin-top: -50px;
    margin-left: 27px;
  }
}

.timeline-event-content {
  position: relative;
}
.timeline-event-content:before {
  content: '';
  width: 50px;
  height: 80px;
  left: 50%;
  margin-left: -2px;
  position: absolute;
  border-left: 4px solid $red;
}

.timeline-event-content > img {
  height: 60px;
  display: block;
  position: absolute;
  user-select: none;
  border-radius: 20%;
  background: $background-gray;
  margin: 0 auto;
  left: 0;
  right: 0;
  transition: box-shadow 0.3s, transform 0.3s;
  cursor: pointer;
}
.timeline-event-content > img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px $border-darkgray;
}
.timeline-event-content > img:active {
  transform: scale(0.9);
}

.timeline-event-circle {
  margin: 0 auto;
  top: 4px;
  left: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border: 6px solid $red;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.timeline-event-year {
  position: absolute;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  user-select: none;
}

.timeline-event-description {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: $black 2px 2px 10px;
  background-color: $background-white;
  border: 2px solid $border-darkgray;
  max-height: fit-content;
  min-width: 200px;
  overflow: auto;
  top: -70px;
  left: 85%;
  z-index: 2;
  transition: visibility 0.3s ease-out, opacity 0.3s ease-out;
}

.timeline-event-description-close {
  clear: both;
  float: right;
  margin: -5px -3px 0 0;
}
.timeline-event-description-close > img {
  position: absolute;
  height: 20px;
  top: 5px;
  right: 5px;
  z-index: 2;
}
.timeline-event-description-close > img:hover {
  cursor: pointer;
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg)
    saturate(600%) contrast(0.8);
}
.timeline-event-description-content {
  display: flex;
  flex-direction: column;
}
.timeline-event-description-content > p {
  line-height: 20px;
  margin: 0;
}
.timeline-event-description-content > h4,
h5 {
  padding-right: 16px;
  margin: 0 0 10px 0;
}
.timeline-event-description-content > p,
h5 {
  color: $black;
}
